# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
.terraform/

# Sensitive PEM Key files
*.pem

# Local execution files (such as IDE or editor-specific)
.idea/
.vscode/

# Terraform lock files (optional, can be ignored if you want)
terraform.lock.hcl

# AWS CLI credentials files
.aws/